* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: rgb(67, 67, 67);
    padding: 40px;
}

h2 {
    text-align: left;
    margin-left: 30px;
}

pre {
    border-radius: 8px;
    padding: 15px;
    overflow-x: auto;
    background: #000000;
    color: #fff;
    line-height: 1.5; /* Augmente légèrement l'espace entre les lignes */
    font-family: "Fira Code", monospace;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permet le passage en colonne sur mobile */
    max-width: 1800px; /* Augmente la taille max */
    width: 100%;
    gap: 40px; /* Augmente l’espace entre les colonnes */
}

.column {
    flex: 1; /* Fait en sorte que les colonnes prennent plus d’espace */
    min-width: 700px; /* Augmente la largeur minimale */
    padding: 40px; /* Plus d’espace intérieur */
    background-color: #2F97C1;
    border-radius: 20px; /* Arrondis plus doux */
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2); /* Ombre plus marquée */
}

@media (max-width: 1100px) { /* Modification du point de bascule */
    .container {
        flex-direction: column;
        align-items: center;
    }
    .column {
        min-width: 90%; /* Les colonnes prennent toute la largeur */
    }
}
.consigne {
    text-align: center;
}

.consigne h2 {
    color: #000;
    text-align: center;
}

.consigne p {
    font-size: 1.4rem;
    background-color: #0CF574;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
}

.terminal {
    background: #000;
    color: #00ff00;
    font-family: "Courier New", Courier, monospace;
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 20px;
}

.detail {
    display: flex;
    justify-content: center;
}