/* Style global */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-image: url("/static/image/fond.jpg");
    background-repeat:repeat-y;
    background-size:contain ;
    text-align: center;
    min-height: 100vh;
    margin: 30px;
}


/* Fenêtre principale */
.window {
    width: 600px;
    height: 150px;
    border-style: double;
    background-color: #c8c8c8;
    margin-bottom: 40px;
    padding: 5px;
}

/* Conteneur des onglets */
.tabs {
    display: flex;
    background-color: #9efff9;
    border: 2px solid #000000;
}

/* Style des onglets */
.tab {
    flex: 1;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #ccc;
}

.active-tab {
    background-color: #c8c8c8;
    border-bottom: none;
    font-weight: bold;
    border: 2px solid #184b00;
}

/* Style du contenu des onglets */
.tab-content {
    display: none;
    padding: 20px;
    background-color: #7b7b7b;
    height: calc(100% - 50px);
    /* Ajuste la hauteur du contenu */
    overflow-y: auto;
}

.active-content {
    display: block;
}

/* Titre des onglets */
h2 {
    font-size: 20px;
    color: #232323;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    text-align: center;
    padding-top: 30px;
    color: #232323;
}

/* Texte dans les onglets */
p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.terminal {
    color: white;
    background-color: black;
    font-family: "Courier New", monospace;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 5px;
    overflow-x: auto;
    width: 500px;
    height: 130px;
    border-style: double;
    border-color: white
}

.language-go {
    color: white;
    background-color: black;
    font-family: "Courier New", monospace;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    width: 800px;
    height: 740px;
}

.skills {
    color: black;
    background-color: beige;
    font-weight: 600;
    font-family: "Courier New", monospace;
    border-radius: 10px;
    text-align: center;
    width: 75%;
    border-style: double;
    margin-top: 10px;
}

.test {
    width: 400px;
    height: 80px;
    background-color: #000000;
    color: #0ed300;
    border-style: double;
    padding-bottom: 60px;
    border-radius: 10px;
}