* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 jours de la semaine */
    gap: 20px;
    padding: 20px;
    max-width: 2000px;
    margin: 0 auto;
}

.day {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.day h2 {
    text-align: center;
    color: #333;
    background-color: #d29209; /* Couleur unique par jour */
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.event {
    background-color: #000000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.event h3 {
    color: #333;
    font-size: 16px;
}

.event p {
    color: #777;
    font-size: 14px;
}

.day:hover {
    background-color: #f9f9f9; /* Effet de survol */
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
