body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin: 20px 0;
}

.calendar {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.day {
	width: 15%;
	background-color: #ffffff;
	padding: 15px;
	margin: 10px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.day h2 {
	text-align: center;
}

.event {
	background-color: #e0f7fa;
	border-radius: 4px;
	padding: 10px;
	margin: 5px 0;
}

.event p {
	margin: 5px 0;
}

.event strong {
	color: #00796b;
}
