* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #2D2E2E;
    min-height: 100vh;
}

.titre {
    color: #3E92CC;
    margin-top: 50px;
    text-align: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 jours de la semaine */
    gap: 20px;
    padding: 20px;
    max-width: 2000px;
    margin: 0 auto;
}

.day {
    background-color: #0C0C0C;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.day h2 {
    text-align: center;
    color: #291720;
    background-color: #C1BFB5; /* Couleur unique par jour */
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.event {
    background-color: #D3D0CB;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.event h3 {
    color: #FDFFF7;
    font-size: 16px;
}

.event p {
    color: #2E5266;
    font-size: 14px;
}

.day:hover {
    background-color: #E2C044; /* Effet de survol */
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
