body {
    min-height: 100vh;
    text-align: center;
    background-color: rgb(200, 200, 200);
}


.rating-buttons {
    display: center;
    gap: 10px;
}

.rating-input {
    display: none;
}

.rating-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rating-button:hover {
    opacity: 0.8;
}

.rating-input:not(:checked) + .rating-button {
    background-color: #d3d3d3;
    color: #a9a9a9;
}

.rating-input:checked + .rating-button {
    color: white;
    border-color: #000;
}

.rating-input:checked[data-value="1"] + .rating-button {
    background-color: #ff0000;
}
.rating-input:checked[data-value="2"] + .rating-button {
    background-color: #ff9900;
}
.rating-input:checked[data-value="3"] + .rating-button {
    background-color: #4CAF50;
}

.rating-input:checked[data-value="4"] + .rating-button {
    background-color: #ff0000;
}
.rating-input:checked[data-value="5"] + .rating-button {
    background-color: #ff9900;
}
.rating-input:checked[data-value="6"] + .rating-button {
    background-color: #4CAF50;
}

.rating-input:checked[data-value="7"] + .rating-button {
    background-color: #ff0000;
}
.rating-input:checked[data-value="8"] + .rating-button {
    background-color: #ff9900;
}
.rating-input:checked[data-value="9"] + .rating-button {
    background-color: #4CAF50;
}

.rating-input:checked[data-value="10"] + .rating-button {
    background-color: #ff0000;
}
.rating-input:checked[data-value="11"] + .rating-button {
    background-color: #ff9900;
}
.rating-input:checked[data-value="12"] + .rating-button {
    background-color: #4CAF50;
}

.rating-input:checked[data-value="13"] + .rating-button {
    background-color: #ff0000;
}
.rating-input:checked[data-value="14"] + .rating-button {
    background-color: #ff9900;
}
.rating-input:checked[data-value="15"] + .rating-button {
    background-color: #4CAF50;
}

.rating-input:checked[data-value="16"] + .rating-button {
    background-color: #ff0000;
}
.rating-input:checked[data-value="17"] + .rating-button {
    background-color: #ff9900;
}
.rating-input:checked[data-value="18"] + .rating-button {
    background-color: #4CAF50;
}