.rating-buttons {
    display: flex;
    gap: 10px;
}

.rating-input {
    display: none;
}

.rating-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Couleurs des boutons */
.rating-button[data-value="1"] {
    background-color: #ff0000;
}
.rating-button[data-value="2"] {
    background-color: #ff4d4d;
}
.rating-button[data-value="3"] {
    background-color: #ff9900;
}
.rating-button[data-value="4"] {
    background-color: #99cc00;
}
.rating-button[data-value="5"] {
    background-color: #4CAF50;
}

.rating-button:hover {
    opacity: 0.8;
}

.rating-input:not(:checked) + .rating-button {
    background-color: #d3d3d3;
    color: #a9a9a9;
    cursor: not-allowed;
}

.rating-input:checked + .rating-button {
    color: white;
    border-color: #000;
}

.rating-input:checked[data-value="1"] + .rating-button {
    background-color: #ff0000;
}
.rating-input:checked[data-value="2"] + .rating-button {
    background-color: #ff4d4d;
}
.rating-input:checked[data-value="3"] + .rating-button {
    background-color: #ff9900;
}
.rating-input:checked[data-value="4"] + .rating-button {
    background-color: #99cc00;
}
.rating-input:checked[data-value="5"] + .rating-button {
    background-color: #4CAF50;
}