{{define "home"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to our portfolio</title>
    <link rel="stylesheet" href="/static/css/accueil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    {{template "header"}}
    <main>
        <section id="presentation">
            {{range .Data}}
                <div class="team-member">
                    <a href="{{.Epreuve}}">
                        <img src="{{.Img}}" alt="Image de {{.Name}}" class="team-member-img">
                        <h3>{{.Name}}</h3>
                        <h4>Epreuve réalisée : {{.EpreuveName}}</h4>
                        <p>Rôle : {{.RoleDescription}}</p>
                        <p>Description : {{.Description}}</p>
                    </a>
                </div>
            {{end}}
        </section>
        <section id="navigation"> 
            <h2>Épreuves</h2>
            <nav>
                <ul>
                    {{range .Data}}
                        <li class="listeEpreuve">
                            <a href="{{.Epreuve}}" class="lienEpreuve">
                                <p class="nameEpreuve">{{.Id}}- {{.EpreuveName}}</p>
                                <p class="description">{{.DescriptionEpreuve}}</p>
                            </a>
                        </li>
                    {{end}}
                </ul>
            </nav>
        </section>
        <section id="commentaire" class="commentaire">
            <h2>La note de nos utilisateurs</h2>
            <div class="rating">
                <img src="/static/image/star/{{seq .Average}}.png">
                <p>Average Rating: {{printf "%.2f" .Average}}</p>
            </div>
            <div class="comments-box">
                <h2>Commentaires</h2>
                {{range .AllAdvice}}
                    <div class="comment">
                        <p>{{.Advice}}</p>
                    </div>
                {{end}}
            </div>
        </section>
    </main>
    {{template "footer"}}
    <script src="/static/js/accueil.js"></script>
</body>
</html>
{{end}}