
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to our portfolio</title>
    <link rel="stylesheet" href="/assets/accueil.css">
</head>
<body>
    <header>
        <div>
            <h1>Ymmersion 2024/2025</h1>
            <p>Développement d'un portfoliode projet</p>
        </div>
    </header>
    <main>
        <section id="presentation">
            <div class="team-member">
                <img src="photo1.png" alt="member1">
                <h3>Nom member1</h3>
                <p>Rôle : développeurs Frontend</p>
            </div>
            <div class="team-member">
                <img src="photo2.png" alt="member2">
                <h3>Nom member2</h3>
                <p>Rôle : développeurs Frontend</p>
            </div>
            <div class="team-member">
                <img src="photo3.png" alt="member3">
                <h3>Nom member3</h3>
                <p>Rôle : développeurs Frontend</p>
            </div>
            <div class="team-member">
                <img src="photo4.png" alt="member4">
                <h3>Nom member4</h3>
                <p>Rôle : développeurs Frontend</p>
            </div>
            <div class="team-member">
                <img src="photo5.png" alt="member5">
                <h3>Nom member5</h3>
                <p>Rôle : développeurs Frontend</p>
            </div>
            <div class="team-member">
                <img src="photo6.png" alt="member6">
                <h3>Nom member6</h3>
                <p>Rôle : développeurs Frontend</p>
            </div>
        </section>
        <section id="navigation">
            <div class="container">
                <h2>navigation</h2>
                <nav>
                    <ul>
                        <li><a href="epreuve1.html"></a></li>
                        <li><a href="epreuve2.html"></a></li>
                        <li><a href="epreuve3.html"></a></li>
                        <li><a href="epreuve4.html"></a></li>
                        <li><a href="epreuve5.html"></a></li>
                        <li><a href="epreuve6.html"></a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Ymmersion Portfolio</p>
        </div>
    </footer>
</body>
</html>