
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to our portfolio</title>
    <link rel="stylesheet" href="/assets/accueil.css">
    <script>
        function redirectToPage(member) {
            windows.location.href = memberPage;
        }
    </script>
</head>
<body>
    <header>
        <div>
            <h1>Portfolio</h1>
            <p>image de l'équipe et épreuve</p>
        </div>
    </header>
    <main>
        <section id="presentation">
            <div class="team-member">
                <img src="/assets/image/kellyan.jpg" alt="member1" class="team-member-img" onclick="redirectToPage('member.html')">
                <h3>Icardi Kellyan</h3>
                <p>Rôle : développeurs Frontend</p>
            </div>
            <div class="team-member">
                <img src="/assets/image/Alexis.jpg" alt="member2" class="team-member-img" onclick="redirectToPage('member.htm')">
                <h3>Nom member2</h3>
                <p>Rôle : développeurs Frontend</p>

            </div>
            <div class="team-member">
                <img src="/assets/image/Adrien.jpg" alt="member3" class="team-member-img" onclick="redirectToPage('member.htm')">
                <h3>Nom member3</h3>
                <p>Rôle : développeurs Backen</p>
            </div>
            <div class="team-member">
                <img src="/assets/image/Alexandre.webp" alt="member4" class="team-member-img" onclick="redirectToPage('member.htm')">
                <h3>Nom member4</h3>
                <p>Rôle : développeurs Frontend</p>
            </div>
            <div class="team-member">
                <img src="/assets/image/Yoan.jpg" alt="member5" class="team-member-img" onclick="redirectToPage('member.htm')">
                <h3>Nom member5</h3>
                <p>Rôle : développeurs Frontend</p>
            </div>
            <div class="team-member">
                <img src="/assets/image/Jonathan.jpg" alt="member6" class="team-member-img" onclick="redirectToPage('member.htm')">
                <h3>Perez Jonathan</h3>
                <p>Rôle : développeurs Frontend</p>
            </div>
        </section>
        <section id="navigation">
            <div class="container">
                <h2>navigation</h2>
                <nav>
                    <ul>
                        <li><a href="epreuve1.html"></a></li>
                        <li><a href="epreuve2.html"></a></li>
                        <li><a href="epreuve3.html"></a></li>
                        <li><a href="epreuve4.html"></a></li>
                        <li><a href="epreuve5.html"></a></li>
                        <li><a href="epreuve6.html"></a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; Équipe du projet
                - Adrien Lecomte  :  [Github](https://github.com/ZdarkBlackShadow)
                - Alexandre Petitfrere  :  [Github](https://github.com/Mirkium)
                - Jonathan Perez  :  [Github](https://github.com/Jonathan-p-z)
                - Yoan Commeau  :  [Github](https://github.com/Urgalute)
                - Alexis Dupin  :  [Github](https://github.com/Linijarae)
                - Kelyann Icardi  :  [github](https://github.com/StorkX13)
            </p>
        </div>
    </footer>
</body>
</html>