{{define "jonathan"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Épreuve du Portfolio</title>
    <link rel="stylesheet" href="/static/css/epreuveJonathan.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-go.min.js"></script>
    <script src="/static/js/epreuveJonathan.js" defer></script>
</head>
<body>
    {{template "header"}}
    <div class="background-animation"></div>
    <div>
        <h1 class="fade-in show">Épreuve du Portfolio</h1>
        <p class="fade-in show delay-1">Développement réalisé en HTML, CSS et JS</p>
    </div>   
    <main>
        <h2>Consigne</h2>
        <p>{{.Description}}</p>
        <h2>Détail de l'épreuve</h2>
        <h3>Temps pour réaliser l'epreuve :</h3>
        <p>{{.Timer}} min</p>
        <h3>Date :</h3>
        <p>{{.When}}</p>
        <h2>Exemple de rendu</h2>
        <div class="terminal">
          <pre>{{ .ExempleRenduCode }}</pre>
        </div>
        <div class="code-go">
          <h2>Code</h2>
          <pre><code class="language-go">{{ .CodeGo }}</code></pre>
        </div>

        <h2>Rendu du code</h2>
        <div class="terminal">
            <h2>Analyse de texte</h2>
            <form id="formTextAnalyse">
                <label for="inputText">Entrez un texte à analyser :</label>
                <input type="text" id="inputText" name="inputText" required>
                <button type="submit">Analyse</button>
            </form>
            <div id="result" class="terminal">
                <!-- Le mot de passe généré sera affiché ici -->
            </div>
        </div>

        <h2>Compétences utilisées</h2>
        {{range .LearningLesson}}
        <p>{{.}}</p>
        {{end}}
        <section class="fade-in show delay-3">
            <h2>Langages utilisés</h2>
            <ul>
                <button class="language-button" onclick="window.location.href='https://golang.org/'">GO</button>
            </ul>
        </section>
        <section class="fade-in show delay-4">
            <h2>Épreuve</h2>
            <div class="button-container">
                <button onclick="showSection('consignes')">Consignes</button>
                <button onclick="showSection('code')">Mon Code et Rendu</button>
                <button onclick="showSection('correction')">Correction</button>
                <button onclick="showSection('temps')">Temps nécessaire</button>
            </div>
            <div id="consignes" class="section-content">
                <h3>Consignes</h3>
                <p>{{.Description}}</p>
            </div>
            <div id="code" class="section-content">
                <h3>Mon Code</h3>
                <pre><code class="language-go">{{ .CodeGo }}</code></pre>
                <h3>Rendu du code</h3>
                <div class="terminal">
                    <pre>{{ .FinalResultCode }}</pre>
                </div>
            </div>
            <div id="correction" class="section-content">
                <h3>Correction</h3>
                <p>Décrivez ici la correction de l'épreuve.</p>
            </div>
            <div id="temps" class="section-content">
                <h3>Temps nécessaire</h3>
                <p>{{.Timer}} min</p>
            </div>
        </section>
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}