{{define "jonathan"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Épreuve du Portfolio</title>
    <link rel="stylesheet" href="/static/css/epreuveJonathan.css">
</head>
<body>
    {{template "header"}}
    <div class="background-animation"></div>
    <div>
        <h1 class="fade-in">Épreuve du Portfolio</h1>
        <p class="fade-in delay">Développement réalisé en HTML, CSS et js</p>
    </div>   
    <main>
        <section class="epreuve fade-in">
            <h2>Titre de l'épreuve</h2>
            <p>Futur épreuve que j'aurai faite + Solution + Consigne + Corrigé</p>
        </section>
    </main>
</body>
</html>
{{end}}