{{define "Alexandre"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epreuve ALex</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-go.min.js"></script>
    <link rel="stylesheet" href="/static/css/EpreuveAlexandre.css">
    <!--<link rel="stylesheet" href="/static/css/Header.css">-->
</head>
<body>
    {{template "header"}}
    <main>
        <div class="epreuve1">
            <div class="infoEpreuve">
                <img src="/static/image/ImageEpreuve1.png" alt="">
                <div class="dataEpreuve">
                    <h2>Icone creeper - Minecraft</h2>
                    <div class="langage">
                        <p id="html">HTML</p>
                        <p id="css">CSS</p>
                    </div>
                    <p id="consigne">{{.Description}}</p>
                </div>
            </div>
            <div class="midle">
                <span></span>
                <p>Réaliser</p>
                <span></span>
            </div>
            <div class="userEpreuve">
                <img src="/static/image/Alexandre.webp" alt="" id="profilUser">
                <h2>Alexandre</h2>
                <p>Bachelore 1 - Informatique</p>
                <p>Develloppeur FullStak</p>
                
                <div class="socialUser">
                    <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit"><img src="/static/image/Linkedin.png" alt=""></a>
                    <a href="https://github.com/Mirkium"><img src="/static/image/Github.png" alt=""></a>
                </div>
            </div>
            <div class="midle">
                <span></span>
                <p>Réalisation</p>
                <span></span>
            </div>

            
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/image/{{.FinalImage}}" alt="" class="FinalResult">
                    </div>
                    <div class="carousel-item">
                        <pre><code class="language-html">{{.CodeHTML}}</code></pre>
                    </div>
                    <div class="carousel-item">
                        <pre><code class="language-css">{{.CodeCSS}}</code></pre>
                    </div>
                </div>
                <button class="carousel-control prev" onclick="moveSlide(-1)">&#10094;</button>
                <button class="carousel-control next" onclick="moveSlide(1)">&#10095;</button>
            </div>
        </div>
    </main>

    {{template "footer"}}
    <script src="/static/js/EpreuveAlexandre.js"></script>
</body>
</html>
{{end}}