{{define "footer"}}
<link rel="stylesheet" href="/static/css/footer.css">
<footer>
    <p>&copy; Équipe du projet</p>
        <div class="lienEquipe">
            <div class="divGithub">
                <h4>Github</h4>
                <div class="colonne">
                    <div class="colonne1">
                        <a href="https://github.com/ZdarkBlackShadow" class="lienGithub">Adrien Lecomte</a>
                        <a href="https://github.com/Mirkium" class="lienGithub">Alexandre Petitfrere</a>
                        <a href="https://github.com/Jonathan-p-z" class="lienGithub">Jonathan Perez</a>
                    </div>
                    <div class="colonne2">
                        <a href="https://github.com/Urgalute" class="lienGithub">Yoan Commeau</a>
                        <a href="https://github.com/Linijarae" class="lienGithub">Alexis Dupin</a>
                        <a href="https://github.com/StorkX13" class="lienGithub">Kellyan Icardi</a>
                    </div>
                </div>
            </div>
            <div class="divLinkedin">
                <h4>Linkedin</h4>
                <div class="colonne">
                    <div class="colonne1">
                        <a href="https://www.linkedin.com/in/adrien-lecomte-0710a82b5/" class="lienLinkedin">Adrien Lecomte</a>
                        <a href="https://www.linkedin.com/in/alexandre-petitfrere-68a64828b/" class="lienLinkedin">Alexandre Petitfrere</a>
                        <a href="https://www.linkedin.com/in/jonathan-perez-b4b919330/" class="lienLinkedin">Jonathan Pere</a>
                    </div>
                    <div class="colonne2">
                        <a href="https://fr.linkedin.com/in/yoan-commeau-2b9a8328b" class="lienLinkedin">Yoan Commeau</a>
                        <a href="https://www.linkedin.com/in/alexisdupin1993?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="lienLinkedin">Alexis Dupin</a>
                        <a href="https://www.linkedin.com/in/kellyan-icardi-a469a434b/" class="lienLinkedin">Kellyan Icardi</a>
                    </div>
                </div>
            </div>
        </div>
</footer>
{{end}}