{{define "footer"}}
<link rel="stylesheet" href="/static/css/footer.css">
<footer>
    <div class="container">
        <p>&copy; Équipe du projet
            <div class="lienEquipe">
                <div class="divGithub">
                    <a href="https://github.com/ZdarkBlackShadow" class="lienGithub">- Adrien Lecomte  :  [Github]</a>
                    <a href="https://github.com/Mirkium" class="lienGithub">- Alexandre Petitfrere  :  [Github]</a>
                    <a href="https://github.com/Jonathan-p-z" class="lienGithub">- Jonathan Perez  :  [Github]</a>
                    <a href="https://github.com/Jonathan-p-z" class="lienGithub">- Yoan Commeau  :  [Github]</a>
                    <a href="https://github.com/Linijarae" class="lienGithub">- Alexis Dupin  :  [Github]</a>
                    <a href="https://github.com/StorkX13" class="lienGithub">- Kellyan Icardi  :  [github]</a>
                </div>
                <div class="divLinkedin">
                    <a href="https://github.com/ZdarkBlackShadow" class="lienLinkedin">- Adrien Lecomte  :  [Linkedin]</a>
                    <a href="https://github.com/Mirkium" class="lienLinkedin">- Alexandre Petitfrere  :  [Linkedin]</a>
                    <a href="https://github.com/Jonathan-p-z" class="lienLinkedin">- Jonathan Perez  :  [Linkedin]</a>
                    <a href="https://github.com/Jonathan-p-z" class="lienLinkedin">- Yoan Commeau  :  [Linkedin]</a>
                    <a href="https://github.com/Linijarae" class="lienLinkedin">- Alexis Dupin  :  [Linkedin]</a>
                    <a href="https://github.com/StorkX13" class="lienLinkedin">- Kellyan Icardi  :  [Linkedin]</a>
                </div>
            </div>
            
        </p>
    </div>
</footer>
{{end}}