{{define "header"}}
<head>
    <link rel="stylesheet" href="/static/css/Header.css">
</head>
<header>
    <div class="divLien">
        <a href="/home" id="menu"><h1>Ymmersion 2</h1></a>
        <a href="/tableaudebord" class="lienHeader">Votre avis compte</a>
        <a href="/calendar" class="lienHeader">Calendrier</a>
    </div>

    <div class="epreuveHeader">
        <p>Epreuves</p>
        <div class="epreuveLien">
            <a href="/alexandre">1</a>
            <a href="/adrien">2</a>
            <a href="/alexis">3</a>
            <a href="/jonathan">4</a>
            <a href="/kellyan">5</a>
            <a href="/yoan">6</a>
        </div>
    </div>
    
</header>
{{end}}