<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Épreuve du Portfolio</title>
    <link rel="stylesheet" href="/assets/css/epreuveJonathan.css">
</head>
<body>
    <div class="background-animation"></div>

    <header>
        <h1 class="fade-in">Épreuve du Portfolio</h1>
        <p class="fade-in delay">Développement réalisé en HTML, CSS et js</p>
    </header>
    <main>
        <section class="epreuve fade-in">
            <h2>Titre de l'épreuve</h2>
            <p>Futur épreuve que j'aurai faite + Solution + Consigne + Corrigé</p>
        </section>
    </main>
    
    <section id="homeButton">
        <a href="/templates/accueil.html">Home</a>
    </section>
    <script src="/assets/js/epreuveJonathan.js"></script>
</body>
</html>
