<!--{{define "PageEpreuve"}}-->
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ymmersion2 - Epreuves</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/Header.css">
        <link rel="stylesheet" href="/assets/css/PageEpreuve.css">
    </head>
    <body>
        <header>
            <a href="" id="menu"><h1>Ymmersion2</h1></a>
            <a href="" class="lien">épreuve</a>
            <a href="" class="lien">calendrier</a>
            <a href="" class="lien">Tableau de bord</a>
        </header>
        
        <main>
            <a href="" class="epreuve">
                <div class="info">
                    <img src="/assets/img/LogoEpreuve1.png" alt="">
                    <p>Minecraft</p>
                </div>
                <p>Consigne</p>
            </a>
        </main>
        
        <script src="" async defer></script>
    </body>
</html>
<!--{{end}}-->