{{define "tableaudebord"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/tbd.css">
    <title>Tableau de bord</title>

</head>
<body>
    <div>
        <h1>Bienvenue sur le tableau de bord</h1>
        <div>
        <div class="epreuve1">
            <h2>1ère épreuve : Dessiner une tête de creeper en HTML/CSS.</h2>
                <h3>Epreuve réalisée par <a href="http://localhost:8080/alexandre">Alexandre</a></h3>
        </div>
        <div class="epreuve2">
            <h2>2ème épreuve : Coder un "plus petit/plus grand", dans lequel le joueur doit trouver le nombre cible entre 1 et 100.</h2>
                <h3>Epreuve réalisée par <a href="http://localhost:8080/adrien">Adrien</a></h3>
        </div>
        <div class="epreuve3">
            <h2>3ème épreuve :</h2>
                <h3>Epreuve réalisée par <a href="http://localhost:8080/xxxxx">XXX</a></h3>

        </div>
        <div class="epreuve4">
            <h2>4ème épreuve :</h2>
                <h3>Epreuve réalisée par <a href="http://localhost:8080/xxxxx">XXX</a></h3>

        </div>
        <div class="epreuve5">
            <h2>5ème épreuve :</h2>
                <h3>Epreuve réalisée par <a href="http://localhost:8080/xxxxx">XXX</a></h3>

        </div>
        <div class="epreuve6">
            <h2>6ème épreuve :</h2>
                <h3>Epreuve réalisée par <a href="http://localhost:8080/xxxxx">XXX</a></h3>

            </div>
    </div>
    </div>
</body>
</html>
{{end}}