{{define "tableaudebord"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Tableau de bord</title>

</head>
<body>
    <div>
        <h1>Tableau de bord</h1>
        <p>Bienvenue sur le tableau de bord</p>
       
        <h3>Epreuve réussie avec brio par Alexandre</h3>
        <div>
        <div class="epreuve1">
            <h2>1ère épreuve : Dessiner une tête de creeper en HTML/CSS.</h2>
        </div>
        <div class="epreuve2">

        </div>
        <div class="epreuve3">

        </div>
        <div class="epreuve4">

        </div>
        <div class="epreuve5">

        </div>
        <div class="epreuve6"><
            /div>
    </div>
    </div>
</body>
</html>
{{end}}